<div class="row">
  <%= form_tag("/questions/#{question.id}", method: "put", class: "col s12", remote: true) do %>
    <div class="row">
      <div class="input-field col s12">
        <% if answer %>
          <%= label_tag(:answer, "Answer") %>
          <%= text_area(:question, :answer, {class: "materialize-textarea", value: answer, required: true}) %>
          <button class="btn waves-effect waves-light" type="submit" name="/questions/#{question.id}">Update
            <i class="material-icons right">send</i>
          </button>
        <% else %>
          <%= label_tag(:answer, "Answer") %>
          <%= text_area(:question, :answer, {class: "materialize-textarea", placeholder: "Write your answer here!"}) %>
          <button class="btn waves-effect waves-light" type="submit" name="/questions/#{question.id}">Submit
            <i class="material-icons right">send</i>
          </button>
        <% end %>
      </div>
    </div>
  <% end %>
</div>