<li id="question-<%= question.id %>">
  <div class="collapsible-header">
    <i class="material-icons text-lighten-1 blue-text">
      <%= question.answer ? "chat_bubble" : "chat_bubble_outline" %>
    </i>
    <span class="question">
      <%= question.content %>
    </span>

    <% if creator %>
      <%= link_to question, :class => 'question-delete right', method: :delete do %>
        <i class="material-icons text-lighten-1 grey-text right">delete</i>
      <% end %>
    <% else %>

      <%# unless question.answer %>
<!--         <a class="question-edit right modal-trigger" href="#edit-question-<%= question.id %>">
          <i class="material-icons text-lighten-1 grey-text right">edit</i>
        </a> -->
      <%# end %>
    <% end %>

  </div>

  <div class="answer collapsible-body grey lighten-5">

    <p>
      <% if creator %>
        <%= render(partial: "questions/answer", locals: {question: question, answer: question.answer}) %>
      <% else %>
        <%= question.answer ? question.answer : "<span class='grey-text'>This question has no answer.</span>".html_safe %>
      <% end %>
    </p>
  </div>
  <div class="comment collapsible-body grey lighten-4">
    <%= render partial: "comments/index", locals: {question: question, creator: creator}%>
  </div>
</li>

<% unless question.answer %>
  <div id="edit-question-<%= question.id %>" class="modal edit-modal">
    <div class="modal-content">
      <div class="row">
        <%= form_tag("/questions/#{question.id}", method: "put", class: "col s12", remote: true) do %>
          <div class="row">
            <div class="input-field col s12">
              <%= label_tag(:content, "Question") %>
              <%= text_field(:question, :content, value: question.content) %>
            </div>
            <div class="modal-footer">
              <button class="btn waves-effect waves-light modal-close" type="submit" name="/questions">Submit
                <i class="material-icons right">send</i>
              </button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

