<div class="row">
  <div class="comment-error"></div>
  <%= form_tag("/comments", method: "post", class: "col s12", remote: true) do %>
    <div class="row">
      <div class="input-field col s12">
        <%= hidden_field_tag(:question_id, question.id) %>
        <%= hidden_field_tag(:creator, creator) %>
        <%= text_field(:comment, :content, {placeholder: "comment here", required: true}) %>
        <%= text_field(:comment, :author, placeholder: "author name") %>
        <button class="btn waves-effect waves-light" type="submit" name="/comments">
          <i class="material-icons right">add</i>
        </button>
      </div>
    </div>
  <% end %>
</div>