<div class="row col s12">
  <%= form_for @topic do |f|  %>
    <div class="row">
      <div class="input-field col s6">
        <i class="small material-icons">comment</i>

    		<%= f.text_area :description %><br />

    		<%= f.submit "Update" %>
      </div>
    </div>
  <% end %>

<%= button_to "Delete Topic", topic_path(@topic), :method => :delete %>

</div>

<%= render partial: "questions/questions", locals: {questions: @questions, topic_id: @topic.id, creator: @creator} %>
