<!DOCTYPE html>
<html>
<head>
  <title>FAQrator</title>

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body class="blue-grey darken-2">
	<nav>
    <div class="nav-wrapper <%= @current_topic ? @current_topic.primary_color : "" %>">
      <div class="row">
        <div class="col s12">
          <a href="<%= root_url %>" class="brand-logo">FAQrator</a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <% if current_user %>
              <li><%= link_to "Home", user_path(current_user) %></li>
              <li><%= link_to "Log Out", sessions_path, :method => :delete %></li>
            <% else %>
              <li><a href="<%= new_session_path %>">Log In</a></li>
              <li><a href="<%= new_user_path %>">Sign Up</a></li>
            <% end %>
            <li><a href="<%= topics_url %>">View All Topics</a></li>
            <li><a href="<%= new_topic_path %>">Create A Topic</a></li>
            <li><form id="search_form" action="/topics/search" method="POST" style="height: 64px;">
            <div class="input-field">
              <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
              <input id="search" name="search" type="search"  required>

              <label for="search"><i class="material-icons">search</i></label>
              <button id="search_submit" form="search_form" type="submit" style="width: 1px; height: 1px; background-color: Transparent;background-repeat:no-repeat;border: none;cursor:pointer;overflow: hidden; outline:none;"></button>
            </div>
      </form></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <% if current_user %>
              <li><%= link_to "Home", user_path(current_user) %></li>
              <li><%= link_to "Log Out", sessions_path, :method => :delete %></li>
            <% else %>
              <li><a href="<%= new_session_path %>">Log In</a></li>
              <li><a href="<%= new_user_path %>">Sign Up</a></li>
            <% end %>
        <li><a href="<%= topics_url %>">View Topics</a></li>
        <li><a href="<%= new_topic_path %>">Create A Topic</a></li>
      </ul>
    </div>
  </nav>
  <% if notice %>
  <div class="row notice">
    <div class="col s12 m10 offset-m1 l8 offset-l2">
      <div class="card">
        <div class="card-content grey-text text-darken-4">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <%= yield %>

</body>
</html>
